// .inner {
//     transform: translateX(0);
//     transition: transform 0.3s ease-out;
// }

.rightside {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-out, visibility 0.1s ease-out;

    &__visible {
        visibility: visible;
        opacity: 1;

        .rightside__inner {
            transform: translateX(0);
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        padding: 30px;
        position: absolute;
        width: 385px;
        height: 100%;
        right: 0;
        background: #FFFFFF;
        box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
    }


    &__title-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    &__close-btn {
        cursor: pointer;
        width: 16px;
        height: 16px;
    }

    &__empty-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__empty-img {
        margin-bottom: 21px;
        width: 120px;
        height: 120px;
    }

    &__empty-title {
        margin-bottom: 9px;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
    }

    &__empty-text {
        margin-bottom: 40px;
        max-width: 285px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        opacity: 0.4;
    }

    &__empty-btn {
        position: relative;
    }

    &__back-arrow {
        position: absolute;
        left: 33px;
        top: 20px;
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: rotate(180deg)translateX(5px);
        }
    }

    &__cart-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__cart-items {
        margin-bottom: 30px;
        flex: 1;
        overflow: auto;
    }

    &__cart-item {
        padding: 16px 19px 30px;
        width: 325px;
        border: 1px solid #F3F3F3;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__cart-item+.rightside__cart-item {
        margin-top: 20px;
    }

    &__cart-img {
        margin-right: 20px;
        width: 70px;
    }

    &__cart-inner {
        margin-right: 20px;
        max-width: 150px;

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }

        span {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__remove-btn {
        opacity: 0.5;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    &__list {
        margin-bottom: 24px;
    }

    &__list-item {
        margin-bottom: 20px;
        display: flex;
        align-items: flex-end;

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }

        span:nth-child(3) {
            font-weight: 600;
        }
    }

    &__list-line {
        margin: 0 7px;
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #DFDFDF;
        position: relative;
        top: -4px;
    }

    &__btn {
        position: relative;

        &:disabled {
            animation: button-loading 0.7s ease-in-out infinite;
        }
    }

    &__btn-arrow {
        position: absolute;
        right: 33px;
        top: 20px;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: translateX(5px);
        }
    }
}

@media screen and (max-width: 700px) {
    .rightside {
        &__inner {
            width: 100%;
        }

        &__cart-wrapper {
            align-items: center;
        }
    }
}

@media screen and (max-width: 360px) {
    .rightside {
        &__cart-item {
            width: 310px;
        }

        &__cart-inner {
            width: 140px;
        }

        &__btn {
            width: 280px;
        }
    }
}

@keyframes button-loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}