// General //

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #E7F6FF;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.green-btn {
  margin: 0 auto;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 18px;
  background-color: #9DD458;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: lighten($color: #9DD458, $amount: 7);
  }

  &:active {
    background-color: darken($color: #9DD458, $amount: 7);
  }

  &:disabled {
    background-color: #bebebe;
    cursor: normal;
  }

}

.content {
  padding: 40px;

  &__top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }

  &__search {
    padding: 15px 0 15px 18px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    width: 235px;
    display: flex;
    position: relative;
  }

  &__search-clear {
    position: absolute;
    right: 15px;
    top: 17px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  &__input {
    border: none;
    padding-left: 14px;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;
    }
  }

  &__btn-img {
    width: 32px;
    height: 32px;
  }
}